/* layout */

html,body {
  widthL:100%;
  height:100%;
}
.wrap-container {
  position:relative;
  min-height:100%;
}


//사이드바
$nav-height: 240;
.section-sidebar {
  overflow-y:auto;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  width:$nav-height + px;
  padding:75px 0 0 40px;
  box-sizing:border-box;
  box-shadow:5px 0px 30px 3px rgba(0,0,0,0.03);
  transition:width .3s, padding .1s;
  &.side__close {
    width:72px;
    padding-left:23px;
    box-shadow:none;
    border-right:1px solid #eee;
    transition:padding .2s;
    .title-logo {
      left:-10px;
      transition:left .2s;
      img {
        opacity:0;
      }
    }
    .link-nav {
      width:25px;
      transition:0s;
    }
    .title-cate,.count-cate {
      display:none
    }
    .btn-fold {
      background:#0021ff;
      .icon-fold {
        background:url('http://localhost:8080/src/assets/images/ic-menu@2x.png') no-repeat;
        background-size:24px;
      }
    }
    .box-tag {
      width:0;
      opacity:0;
      transition:opacity 0s;
      transition-delay: 0s;
    }
  }
  .title-logo {
    position:relative;
    height:40px;
    left:0;
    margin-bottom:74px;
    transition:left .5s;
    img {
      opacity:1;
      transition:opacity .2s;
    }
  }
  .title-navigation {
    @include screen-out;
  }
  .btn-fold {
    position:absolute;
    top:0;
    left:0;
    width:72px;
    height:72px;
    padding:24px;
    box-sizing:border-box;
    outline: none;
    transition:background .3s;
    .icon-fold {
      display:block;
      width:24px;
      height:24px;
      background:url('http://localhost:8080/src/assets/images/ic-menu-off@2x.png') no-repeat;
      background-size:24px;
      @include ir-pm;
    }
  }

}

//메뉴
.nav-wrap {
  li {
    overflow:hidden;
    height:25px;
    margin-bottom:10px;
    &:last-child {
      margin-bottom:26px
    }
    &.on {
      .title-cate,.count-cate {
        font-weight:bold;
      }
      .title-cate {
        color:#0021ff;
      }
    }
  }
  .link-nav {
    display:block;
    width:100%;
    font-size:13px;
    line-height:25px;
    color:#333;
    transition-delay:.3s;
    &:hover {
      font-weight:bold;
      text-decoration: none;
      .title-cate {
        font-weight:bold;
      }
    }
  }
  .title-cate {
    font-weight:normal;
  }
  .count-cate {
    color:#9b9b9b
  }
}


//tools,스크립트 태그 공통
.box-tools,.box-tag {
  overflow:hidden;
  width:100%;
  opacity:1;
  transition:opacity .15s;
  transition-delay: .3s;
  &:before {
    display:block;
    width:180px;
    height:1px;
    margin-left:-10px;
    background:#eee;
    content:'';
  }
}

//tools
.box-tools {
  .title-nav {
    @include screen-out;
  }
  .nav-tools {
    margin-top:35px;
    li {
      margin-bottom:12px;
      &:last-child {
        margin-bottom:39px
      }
    }
  }
}

//스크립트 태그
.box-tag {
  .title-tag {
    display:block;
    margin:30px 0 20px;
    font-size:14px;
    font-weight:700;
    line-height:24px;
    color:#b3b3b3;
  }
  .nav-tag {
    font-size:0;
    line-height:0;
    li {
      display:inline-block;
      padding:0 4px 8px 0;
      vetical-align:top;
    }
  }
}

//본문
.section-content {
  width:100%;
  padding-left:$nav-height + px;
  box-sizing:border-box;
}
