/*
    _animation.scss
*/

@keyframes bgScrolldown {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes selectLangList {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#wakeoneHome .contents {
    .section--visual {
        .visual-main {
            > h2 {
                filter: blur(10px);
                opacity: 0;
                transform: scale(1.2);
                transition: 2s cubic-bezier(0.16, 1, 0.3, 1);
            }
            > h3,
            .store-btn__wrap {
                @include animationFadeDown;
            }
        }

        &.section--on {
            .visual-main {
                > h2 {
                    filter: blur(0);
                    opacity: 1;
                    transform: scale(1);
                }
                > h3 {
                    @include animationOrigin(0.4s);
                }
                .store-btn__wrap {
                    @include animationOrigin(0.6s);
                }
            }
        }
    }

    .section--artist {
        .section__sub-title,
        .section__text,
        .artist__list li,
        em {
            @include animationFadeUp;
        }

        &.section--on {
            .section__sub-title {
                @include animationOrigin(0.2s);
            }
            .section__text {
                @include animationOrigin(0.3s);
            }
            em {
                @include animationOrigin(0.4s);
            }
            .artist__list li {
                @include animationOrigin(0.5s);

                @for $i from 1 through 9 {
                    &:nth-child(#{$i}) {
                        transition-delay: 0.45s + ($i * 0.05s);
                    }
                }
            }
        }
    }

    .section--group {
        filter: blur(10px);
        opacity: 0;
        transition: 1s cubic-bezier(0.16, 1, 0.3, 1);

        &.section--on {
            filter: blur(0);
            opacity: 1;
        }
    }

    .section--preorder {
        .section__text {
            @include animationFadeUp;
        }
        .preorder__wrap {
            .preorder-reward,
            .preorder-reward__list li {
                @include animationFadeUp;
            }
        }
        &.section--on {
            .section__text {
                @include animationOrigin(0s);
            }
            .preorder__wrap {
                .preorder-reward {
                    @include animationOrigin(0.2s);
                }
                .preorder-reward__list li {
                    @include animationOrigin(0.3s);

                    @for $i from 1 through 5 {
                        &:nth-child(#{$i}) {
                            transition-delay: 0.25s + ($i * 0.05s);
                        }
                    }
                }
            }
        }
    }

    .section--social {
        .section__text,
        .img-polaroid,
        .social-join,
        .btn-wrap {
            @include animationFadeUp;
        }
        &.section--on {
            .section__text {
                @include animationOrigin(0s);
            }
            .img-polaroid {
                @include animationOrigin(0.15s);
            }
            .social-join {
                @include animationOrigin(0.3s);
            }
            .btn-wrap {
                @include animationOrigin(0.45s);
            }
        }
    }
}
