/*
    _footer.scss
*/

.footer {
    position: relative;
    z-index: 10;
    width: 100%;
    padding: setResMo(60px) 0;
    background: #000;
    .footer {
        &--company {
            display: flex;
            justify-content: center;
            margin-bottom: setResMo(37px);

            .logo__link {
                display: block;
                &--wo {
                    margin-right: setResMo(35px);
                    > img {
                        width: setResMo(94px);
                    }
                }
                &--dc {
                    padding-top: setResMo(4px);
                    > img {
                        width: setResMo(140px);
                    }
                }
            }
        }

        &--menu {
            display: flex;
            justify-content: center;
            margin-bottom: setResMo(16px);
            &__link {
                @include fontSet(setResMo(13px), 600, setResMo(20px), #a1a1aa);
            }
        }

        &--copyright {
            display: block;
            @include fontSet(setResMo(13px), normal, setResMo(20px), #a1a1aa);
            text-align: center;
        }
    }
    //.footer
}
