/*
    _header.scss
*/

.header {
    position: relative;
    z-index: 99;
    width: 100%;
    .header {
        &__wrap {
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: setResMo(60px);
            background: #000;

            .header__logo {
                padding-left: setResMo(22px);
                .header-logo__link {
                    display: block;
                    > img {
                        width: auto;
                        height: setResMo(26px);
                    }
                }
            }

            .header__util {
                display: flex;
                padding-right: setResMo(15px);

                &--lang {
                    position: relative;
                    .lang__link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: setResMo(44px);
                        height: setResMo(44px);
                        > span {
                            display: block;
                            width: setResMo(30px);
                            height: setResMo(30px);
                            @include imageBg('icon-lang.svg');
                        }
                    }
                    .select-lang {
                        display: none;
                        overflow: hidden;
                        position: absolute;
                        top: setResMo(52px);
                        left: setResMo(-28px);
                        width: setResMo(107px);
                        border-radius: setResMo(4px);
                        .lang__list {
                            width: 100%;
                            background: #fff;
                            > li {
                                width: 100%;
                                height: setResMo(37px);
                                > a {
                                    display: block;
                                    padding-left: setResMo(16px);
                                    @include fontSet(setResMo(17px), 600, setResMo(37px), #a1a1aa);
                                }
                            }
                        }
                        @at-root html[lang='ko'] .lang__list > li[data-lang='ko'] > a {
                            color: #000 !important;
                        }
                        @at-root html[lang='ja'] .lang__list > li[data-lang='ja'] > a {
                            color: #000 !important;
                        }
                        @at-root html[lang='en'] .lang__list > li[data-lang='en'] > a {
                            color: #000 !important;
                        }

                        &--on {
                            display: block;
                            @include AnimationSet(selectLangList, 0.25s, 1, normal, 0s, forwards, cubic-bezier(0.33, 1, 0.68, 1));
                        }
                    }
                }
                &--menu {
                    .menu-open__link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: setResMo(44px);
                        height: setResMo(44px);
                        > span {
                            display: block;
                            width: setResMo(30px);
                            height: setResMo(30px);
                            @include imageBg('icon-menu.svg');
                        }
                    }
                }
            }
        }

        &__menu {
            overflow: auto;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999;
            width: 100%;
            height: 100%;
            background: #000;
            transform: translateX(100%);
            opacity: 0;
            transition: transform 0.4s, opacity 0.4s;

            &--open {
                opacity: 1;
                transform: translateX(0%);
            }

            .menu__wrap {
                position: relative;
                height: 100%;
                min-height: setResMo(600px);
                padding-left: setResMo(24px);
            }

            .menu__logo {
                padding: setResMo(120px) 0 setResMo(35px);
                .menu-logo__link {
                    display: block;
                    width: setResMo(200px);
                }
            }

            .menu__gnb {
                .gnb__item {
                    display: flex;
                    margin-bottom: setResMo(35px);
                    > a {
                        display: block;
                        @include fontSet(setResMo(32px), bold, setResMo(42px), #fff);

                        &.active {
                            color: #6BA5DC
                        }
                    }
                }
            }

            .menu__social {
                position: absolute;
                bottom: setResMo(60px);
                left: setResMo(24px);
                .social__list {
                    display: flex;
                    margin-bottom: setResMo(33px);
                    .social__item {
                        margin-right: setResMo(24px);
                        .sns__link {
                            display: block;
                            width: setResMo(32px);
                            height: setResMo(32px);
                            &--tw {
                                width: setResMo(24px);
                                height: setResMo(24px);
                                margin-top: setResMo(4px);
                                @include imageBg('icon-twitter.svg');
                            }
                            &--in {
                                @include imageBg('icon-insta.svg');
                            }
                            &--yt {
                                @include imageBg('icon-youtube.svg');
                            }
                        }
                    }
                }
                .social__copyright {
                    display: block;
                    @include fontSet(setResMo(13px), normal, setResMo(20px), #a1a1aa);
                }
            }

            .gnb-close__link {
                position: absolute;
                top: 0;
                right: 0;
                padding: setResMo(15px) setResMo(22px);
                .icon-menu-close {
                    display: block;
                    width: setResMo(30px);
                    height: setResMo(30px);
                    @include imageBg('icon-gnb-close.svg');
                }
            }
        }
    }
    //.header__wrap
}
