/*
    _index.scss
*/

.contents {
    position: relative;
    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        @include imageBg('bg-main.jpg');
        background-size: cover;

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: 0.6;
            content: '';
        }

        .bg-video {
            position: relative;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.5s;

            video {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &.on {
                opacity: 1;
            }
        }
    }

    .section {
        position: relative;
        z-index: 1;
        .section__title {
            margin-bottom: setResMo(14px);
            @include fontSet(setResMo(40px), 800, setResMo(46px), #fff);
            letter-spacing: -0.01em;
            background: #00ffdd;
            background: linear-gradient(to right, #00ffdd 0%, #27a9ff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center;
        }
        .section__sub-title {
            @include fontSet(setResMo(16px), 600, setResMo(23px), #fff);
            letter-spacing: -0.01em;
            text-align: center;
        }
        .section__text {
            @include fontSet(setResMo(17px), 600, setResMo(25px), #fff);
            letter-spacing: -0.01em;
            text-align: center;
        }
        //common

        &--visual {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            position: relative;
            width: 100%;
            height: 100vh;
            min-height: setResMo(600px);

            .visual-main {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                > h2 {
                    width: 100%;
                    margin-bottom: setResMo(18px);
                    > img {
                        height: setResMo(75px);
                        width: auto;
                        margin: 0 auto;
                    }
                }

                > h3 {
                    margin-bottom: setResMo(52px);
                    @include fontSet(setResMo(21px), 700, setResMo(26px), #fff);
                    text-align: center;
                }

                .store-btn__wrap {
                    width: setResMo(308px);
                    height: setResMo(80px);
                }

                .download-store {
                    display: none;
                    width: 100%;
                    height: 100%;
                    box-sizing: border-box;
                    border-radius: setResMo(8px);
                    background: rgba(0, 0, 0, 0.9);

                    &--google {
                        border: setResMo(1px) solid #027948;
                    }

                    &--app {
                        border: setResMo(1px) solid #468ed3;
                    }

                    .btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        .google {
                            display: block;
                            width: setResMo(144px);
                            height: setResMo(36px);
                            margin-right: setResMo(8px);
                            @include imageBg('icon-google.svg');
                        }
                        .app {
                            display: block;
                            width: setResMo(131px);
                            height: setResMo(31px);
                            margin-right: setResMo(5px);
                            @include imageBg('icon-app.svg');
                        }

                        .text {
                            @include fontSet(setResMo(18px), 600, setResMo(23px), #fff);
                        }
                    }
                }
            }

            .visual-head {
                width: 100%;
                height: setResMo(126px);
            }

            .visual-scroll {
                width: setResMo(48px);
                height: setResMo(48px);
                margin: 0 auto setResMo(88px);
                > span {
                    display: block;
                    width: setResMo(48px);
                    height: setResMo(48px);
                    @include imageBg('icon-scroll.svg');
                    @include AnimationSet(bgScrolldown, 2.5s, infinite, normal, 0s, forwards, cubic-bezier(0.33, 1, 0.68, 1));
                }
            }
        }
        //.section--visual

        &--artist {
            position: relative;
            width: 100%;
            padding: setResMo(50px) 0 setResMo(125px);

            .artist-wrap {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                > em {
                    display: block;
                    padding-top: setResMo(6px);
                    @include fontSet(setResMo(13px), normal, setResMo(19px), #32d583);
                    letter-spacing: -0.01em;
                    text-align: center;
                }
            }

            .artist__list {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                padding-top: setResMo(20px);
                > li {
                    padding: setResMo(4px);
                    .artist__link {
                        display: block;
                        overflow: hidden;
                        position: relative;
                        width: setResMo(108px);
                        height: setResMo(135px);
                        border-radius: setResMo(8px);
                        border: setResMo(1px) solid #fff;
                        box-sizing: border-box;
                        background: {
                            size: cover;
                            repeat: no-repeat;
                            position: 50% 50%;
                        }

                        &:after {
                            position: absolute;
                            top: setResMo(3px);
                            left: setResMo(3px);
                            width: setResMo(24px);
                            height: setResMo(24px);
                            @include imageBg('icon-play.svg');
                            content: '';
                        }

                        @for $i from 1 through length($artistList) {
                            $name: nth($artistList, $i);

                            &--#{$name} {
                                &[disabled] {
                                    cursor: default;
                                    background-image: url('#{$imagePath}/artist/#{$name}.jpg');
                                    &:after {
                                        display: none;
                                    }
                                }
                                background-image: url('#{$imagePath}/artist/#{$name}-on.jpg');
                            }
                        }
                    }
                }
            }
        }
        //.section--artist

        &--group {
            max-width: 100% !important;
            background: #eff2f9;
            > img {
                max-width: $maxWidth;
                margin: 0 auto;
            }
        }
        //.section--group

        &--preorder {
            padding: setResMo(56px) 0;
            @at-root html[lang='en'] #sectionPreorder .section__title {
                font-size: setResMo(35px);
            }
            .preorder__wrap {
                padding: setResMo(16px) setResMo(17px) 0;

                .preorder-reward {
                    padding: setResMo(8px);
                    .reward-item {
                        overflow: hidden;
                        > img {
                            border-top-left-radius: setResMo(8px);
                            border-top-right-radius: setResMo(8px);
                        }

                        .info {
                            padding: setResMo(12px) 0 setResMo(13px);
                            border: setResMo(1px) solid #3d4c5e;
                            border-top: 0 none;
                            border-bottom-left-radius: setResMo(8px);
                            border-bottom-right-radius: setResMo(8px);
                            background: #1d242d;
                            text-align: center;

                            > h4 {
                                @include fontSet(setResMo(20px), 700, setResMo(29px), #32d583);
                                letter-spacing: -0.02em;
                            }
                            > p {
                                @include fontSet(setResMo(14px), 500, setResMo(23px), #f4f4f5);
                                letter-spacing: -0.02em;
                            }
                        }
                    }
                }

                .preorder-reward__list {
                    display: flex;
                    flex-wrap: wrap;
                    > li {
                        width: 50%;
                        padding: setResMo(8px);
                        box-sizing: border-box;

                        &:last-child {
                            width: 100%;
                        }
                    }

                    .reward-item {
                        overflow: hidden;
                        padding: setResMo(12px);
                        box-sizing: border-box;
                        border-radius: setResMo(8px);
                        background: #fff;
                        > strong {
                            display: block;
                            margin-bottom: setResMo(7px);
                            @include fontSet(setResMo(15px), 700, setResMo(23px), #468ed3);
                            letter-spacing: -0.025em;
                            text-align: center;
                        }

                        .bg {
                            position: relative;
                            overflow: hidden;
                            border-radius: setResMo(4px);
                            margin-bottom: setResMo(8px);
                        }
                        > p {
                            @include fontSet(setResMo(13px), 500, setResMo(19px), #18181b);
                            letter-spacing: -0.02em;
                            text-align: center;
                        }
                    }

                    .complete {
                        .bg {
                            &:before {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: rgba(0, 0, 0, 0.7);
                                content: '';
                            }
                            &:after {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                width: setResMo(113px);
                                height: setResMo(113px);
                                transform: translate(-50%, -50%);
                                @include imageBg('icon-complete.svg');
                                content: '';
                            }
                        }
                    }
                }

                .text-caution {
                    @include fontSet(setResMo(11px), 500, setResMo(20px), #d4d4d8);
                    letter-spacing: -0.02em;
                    text-align: center;
                }
            }
        }
        //.section--preorder

        &--social {
            padding: setResMo(54px) setResMo(25px);
            .section__title {
                margin-bottom: setResMo(9px);
            }
            .section__text {
                margin-bottom: setResMo(24px);
            }
            .img-polaroid {
                width: setResMo(325px);
                margin: 0 auto setResMo(33px);
            }

            .social-join {
                padding: setResMo(20px) setResMo(16px) setResMo(22px);
                background: #1d242d;
                border: setResMo(1px) solid #3d4c5e;
                border-radius: setResMo(8px);

                > strong {
                    display: block;
                    margin-bottom: setResMo(12px);
                    padding-bottom: setResMo(7px);
                    border-bottom: setResMo(1px) solid #3d4c5e;
                    @include fontSet(setResMo(20px), 700, setResMo(28px), #32d583);
                    text-align: center;
                }

                > p {
                    @include fontSet(setResMo(14px), 500, setResMo(22px), #7cd4fd);
                    letter-spacing: -0.03em;
                    text-align: center;
                }

                .join-cont {
                    display: flex;
                    align-items: flex-start;
                    margin-bottom: setResMo(11px);
                    > img {
                        width: setResMo(76px);
                    }
                    > ul {
                        padding-left: setResMo(8px);
                        > li {
                            margin-bottom: setResMo(7px);
                            padding-left: setResMo(14px);
                            text-indent: setResMo(-14px);
                            word-break: keep-all;
                            @include fontSet(setResMo(13px), 500, setResMo(20px), #f4f4f5);
                            letter-spacing: -0.02em;
                        }
                    }
                }
            }

            .btn-wrap {
                padding-top: setResMo(24px);
                .btn-certify {
                    margin-bottom: setResMo(16px);
                    @include btnCommon(100%, setResMo(56px), #468ed3, #468ed3, #fff, setResMo(17px), setResMo(56px/2));
                }
                .btn-share {
                    @include btnCommon(100%, setResMo(56px), rgba(0, 0, 0, 0.8), #468ed3, #468ed3, setResMo(17px), setResMo(56px/2));
                }
            }
        }
        //.section--social
    }
}

.gotop {
    position: fixed;
    bottom: setResMo(12px);
    right: setResMo(10px);
    z-index: 100;

    &.active {
        .gotop__link {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    &.fixed {
        position: absolute;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: setResMo(38px);
        height: setResMo(38px);
        border: setResMo(1px) solid #e4e4e7;
        border-radius: 50%;
        box-sizing: border-box;
        background: #fff;
        opacity: 0;
        transform: translateY(15px);
        transition: opacity 0.3s, transform 0.3s;
        > span {
            display: block;
            width: setResMo(13px);
            height: setResMo(13px);
            @include imageBg('icon-top-arrow.svg');
        }
        &:active,
        &:hover {
            background: #fff;
        }
    }
}
